@import 'config';
@import 'navbar';
@import 'shop-icon-card';
@import 'responsive';





/*****Accound Log in - Sing in*****/
.modal-content{
    background: $back-color;

    h5, label {
        color: $text-color;
        font-size: 18px;
    }
}

/***************Account - btn**************/

.btn-accound{
        width: 150px;
        height: 40px;
        font-size: 18px;
        border-radius: 10px;
        border: none;
        color: $text-color;
        background-color: $primary-color;
        cursor: pointer;
}

/*************Main*******************/
.main{
    background: $back-color;
    border-bottom-right-radius: 200px;
    margin-top: 55px;
    

    &__head-text{
        color: $text-color;
        font-weight: 700;
        
    }

    &__text{
        color: $text-color;
        padding: 30px 0;
    }

    &__button-primary{
        width: 150px;
        height: 40px;
        margin-right: 20px;
        font-size: 18px;
        border-radius: 10px;
        border: none;
        color: $text-color;
        background-color: $secundary-color;
        cursor: pointer;
        

        &:hover{
            border: 1px solid white;
            background-color: transparent;
            
        }
    }

    &__button-secundary{
        width: 120px;
        height: 40px;
        font-size: 15px;
        border-radius: 10px;
        border: 1px solid white;
        background-color: transparent;
        color: $text-color;
        cursor: pointer;
        

        &:hover{
            background-color: $secundary-color;
            
        }
    }
}

.offcanvas{
  background: $back-color;

  h5{
    color: $text-color;
    display: inline-block;
  }

  p{
    color: $text-color;
  }

  a{
    color: $text-color;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid;
  }
}


/***********Our Features and Services**********/

.our-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .contents {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid $primary-color;
    border-radius: 20px;
    padding: 10px;
  }

  
  .contents img {
    width: 20%;
    height: auto;
  }
  
  .contents h4 {
    margin: 10px 0;
  }
  
  .contents p {
    font-size: 14px;
    line-height: 1.5;
  }

/*************Flip Card****************/
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .our-cards {
    width: 30%;
    height: 240px;
    perspective: 1000px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .card-front img{
    width: 20%;
    height: auto;
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.9s;
  
  }
  
  .card-front {
    display: block;
    justify-content: center;
    border: 1px solid $primary-color;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
  }

  .card-front h4{
    margin: 10px 0;
  }

  .card-front p{
    font-size: 16px;
    line-height: 1.5;
  }
  
  .card-back {
    background: $back-color;
    color: $text-color;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $primary-color;
    border-radius: 20px;
  }
  
  .our-cards:hover .card-front {
    transform: rotateY(180deg);
  }
  
  .our-cards:hover .card-back {
    transform: rotateY(0deg);
  }
  
 

  @media screen and (max-width: 768px) {
    .our-cards {
      width: 45%;
      overflow: hidden;
    }

  }
  
  @media screen and (max-width: 480px) {
    .our-cards {
      width: 100%;
    }
  }


/********Best Platform**********/
  
.platform {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.5); 

  &__content {
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 30px;
    background: $back-color;
    text-align: center;

    p{
      color: $text-color;
      padding-top: 30px;
    }

    .close {
      color: $text-color;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}



.suport {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.5); 

  &__content {
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 30px;
    background: $back-color;
    text-align: center;

    p{
      color: $text-color;
      padding-top: 30px;
    }
  }
}

.close-student {
  color: $text-color;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-student:hover,
.close-student:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.support-button{
        width: 150px;
        height: 50px;
        font-size: 18px;
        border-radius: 10px;
        border: none;
        color: $text-color;
        background-color: $primary-color;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        &:hover{
          transform: scale(1.05);
          box-shadow: -1px -1px 20px #5027B5
        }
  }

  .student-button{
    width: 150px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    color: $text-color;
    background-color: $primary-color;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover{
      transform: scale(1.05);
      box-shadow: -1px -1px 20px #5027B5
    }
  }

  @media screen and (max-width: 768px) {
    .platform__content{
      width: 90%;
    }

    .suport__content{
      width: 90%;
    }

  }
  
  @media screen and (max-width: 480px) {
   .platform__content{
    width: 90%;
   }

   .suport__content{
    width: 90%;
   }
  }

/*************Article**************/

.article {
  background-image: url(image/item.jpg);
  background-position: center;
  background-size: cover;

 
  &__box{
    margin-bottom: 5rem;
  }
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__cart{
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
    border-radius: 5px;
    overflow: hidden;

    img{
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }

  &__texts{
    padding: 10px;
    text-align: center;

    p{
      margin: 0;
      font-size: 18px;
      line-height: 1.5;
    }
    
  }

  &__hr{
    width: 80%;
    color: black!important;
    margin: auto;
  }

  &__button{
    width: 150px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    color: $text-color;
    background-color: $primary-color;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover{
      transform: scale(1.05);
      box-shadow: -1px -1px 20px #5027B5
    }
  }

}

@media screen and (max-width: 768px) {
  .articles__cart {
    width: 45%;
    overflow: hidden;
  }

  .articles__cart img {
    width: 100%;
    height: auto;
  }

}

@media screen and (max-width: 480px) {
  .articles__cart {
    width: 100%;
  }

  .articles__cart img {
    width: 100%;
    height: auto;
  }
}


/***********Pop-Up***************/

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  background: $back-color;
  color: $text-color;
}

.popup__close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  color: $text-color;
  background-color: $primary-color;
}

.popup.active {
  display: block;
}

.popup.active .popup__content {
  animation: slide-down 0.7s ease;
}

@keyframes slide-down {
  0% {
    top: -50%;
  }
  100% {
    top: 50%;
  }
}


/*************Subscribe****************/

.subscribe__input{
  height: 50px;
  border-radius: 10px;
  margin-right: 20px;
  width: inherit;
  margin-bottom: 40px;
}

.subscribe__button{
    width: 150px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    color: $text-color;
    background-color: $primary-color;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover{
      transform: scale(1.05);
      box-shadow: -1px -1px 20px #5027B5
    }
}


/********Footer**********/
footer {
  background: $back-color;
  padding: 20px 0;
  color: $text-color;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__column {
  flex: 1;
}

.footer__logo-container {
  display: flex;
  align-items: center;
}

.footer__logo {
  height: 40px;
  margin-right: 5px;
}

.footer__company-name {
  font-size: 1.25rem;
}

.footer__copywrite {
  font-size: 18px;
}

.footer__column:last-child {
  text-align: right;
}

.footer__column:last-child a {
  margin-left: 15px;
}

.fab{
  font-size: 1.25rem;
  color: $text-color;
  transition: transform 0.3s ease-in-out;

  &:hover{
    transform: scale(1.15);
    box-shadow: -1px -1px 20px white;
    color: $primary-color;
  }
}

@media (max-width: 767px) {
  .footer__row {
    flex-wrap: wrap;
    
  }

  .footer__logo-container{
    justify-content: center;
  }

  .footer__column {
    flex: 1 0 100%;
    margin-bottom: 10px;
    text-align: center!important;
  }

  .footer__column:last-child {
    text-align: center;
  }
}


/************Button Back to Top*****************/
#myBtn {
  display: block; 
  position: fixed; 
  bottom: 20px;
  right: 20px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: $primary-color; 
  color: white; 
  cursor: pointer;
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#myBtn:hover {
  transform: scale(1.05);
  box-shadow: -1px -1px 20px #5027B5
}


